@import url('https://fonts.googleapis.com/css?family=Dongle');
@import url('https://fonts.googleapis.com/css?family=Questrial');
* {
  font-family: questrial, dongle, Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --Colour1: #020b66;
  --Colour2: #1221ba;
  --Colour3: #364dcd;

}

body {
  margin: 0;
}



.top-bar {
width: 90%;
margin-top: 0%;
margin-left: 5%;
margin-right: 10%;
border-bottom: 5px solid var(--Colour2);
display:grid;
grid-template-columns: 1fr 2fr;
position: fixed;
top: 0;
background-color: rgba(255, 255, 255, 0.462);
z-index:100;
}

h1 {
  padding-left: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  color: var(--Colour2);
  font-size: 5rem;
}

nav {
  grid-column-start: 3;
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  padding-top: 0.5rem;
  font-size: 3.5rem;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  padding: 1rem;
}
nav  a{
  color: var(--Colour2);
  text-decoration: none;
  padding: 1rem;
}

nav a:hover {
  border: 3px solid transparent;
  border-radius: 100vmax;
  background-image: url(/images/stary-background.avif);
  color: white;

}

main {
  margin-top: 15rem;
  display:flex;
  align-items: center;
  flex-direction: column;
  width: 1;
  gap: 7rem;
  
}

main h2 {
  font-size: 15rem;
  background-image: url(/images/stary-background.avif) ;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
}

main h3 {
  font-size: 6rem;
  text-align: center;
  background-image: url(/images/stary-background.avif) ;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.down-arrow {
  font-size: 15rem;
  background-image: url(/images/stary-background.avif) ;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.about-me {
  background-image: url(/images/stary-background.avif);
  color: white;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


#about-me-h3 {
  color: white;
  font-size: 8rem;
  padding-top: 2rem;
  width: 100%
}

.about-me p {
  padding-top: 10rem;
  padding-right: 2rem;
  padding-left: 2rem;
  font-size:3rem;
  text-align: justify;
  max-width: 600px;
  padding-bottom: 2rem;
}

.my-pics{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


#my-pics-h3 {
  font-size: 8rem;
  padding-top: 2rem;
  padding-bottom: 10rem;
  width: 100%
}

.my-pics .img-container {
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  font-size: 3rem;
  text-align: justify;
  max-width: 600px;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-content: center;
}

.img-container img {
  width: 100%;
  position: relative;
  border-radius: 0.5rem;
}

.img-container figcaption {
position: absolute;
max-width: 600px;
text-align: center;
margin-top: 14rem;
visibility: hidden;
background-image: url(/images/stary-background.avif) ;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

}

.img-container:hover img{
filter:blur(1.5rem)
}

.img-container:hover figcaption {
  visibility: visible;
}

.media-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 37%;
  gap: 2rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;

}

.media-element {
  padding: 1rem;
  background-image: url(/images/stary-background.avif);
  border-radius: 1.6rem;
  display: grid;
  grid-template-rows: min-content;
  gap: 1rem;
  max-inline-size: 500px;
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 1rem;
}

.media-element figcaption {
  text-align: center;
  color: white;
  font-size:2rem;
}